<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="browserType" value="chrome" />
	<parameter name="url" value="https://cms.demo.onehippo.com/" />
	<test name="BloomReachTest" preserve-order="true">
		<classes>
			<class name="com.BloomReach.Pages.LoginPageTest" />
			<class name="com.BloomReach.Pages.HomePageTest" />
			<class name="com.BloomReach.Pages.ContentPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
